<div class="container">
    <div class="title-h1">
        <h1>Histórico de Aluguéis</h1>
    </div>
    <div class="accordion" id="accordionHistoricoDetalhes">
        <div class="accordion-item">

            <h2 class="accordion-header" id="headingstaticBackdrop--alterar-bike--id--01">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Specialized Fuse | 10/01/2023 | 2 dias
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse"
                aria-labelledby="headingstaticBackdrop--alterar-bike--id--01"
                data-bs-parent="#accordionHistoricoDetalhes">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop--alterar-bike--id--01">
                                <img src="../img/SPECIALIZED-FUSE-S.jpg" alt="SPECIALIZED-FUSE-S">
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop--alterar-bike--id--01" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="../img/SPECIALIZED-FUSE-S.jpg " alt="SPECIALIZED-FUSE-S"
                                                class="imgModal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-bike col">
                            <div class="info-ln">
                                <h3>Detalhes</h3>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>Medida: </td>
                                            <td>17</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>Estilo: </td>
                                            <td>MTB</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>Marchas: </td>
                                            <td>12V</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <h3>Recursos</h3>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>Aro 29"</td>
                                        <td>Freio disco hidráulico</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>Grupo Sram</td>
                                        <td>Pneu 3.0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="accordion-item">

            <h2 class="accordion-header" id="headingstaticBackdrop--alterar-bike--id--02">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Specialized Fuse | 14/01/2023 | 2 dias
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="headingstaticBackdrop--alterar-bike--id--02"
                data-bs-parent="#accordionHistoricoDetalhes">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop--alterar-bike--id--2">
                                <img src="../img/SPECIALIZED-FUSE-S.jpg" alt="SPECIALIZED-FUSE-S">
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop--alterar-bike--id--2" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="../img/SPECIALIZED-FUSE-S.jpg " alt="SPECIALIZED-FUSE-S"
                                                class="imgModal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-bike col">
                            <div class="info-ln">
                                <h3>Detalhes</h3>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>Medida: </td>
                                            <td>17</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>Estilo: </td>
                                            <td>MTB</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>Marchas: </td>
                                            <td>12V</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <h3>Recursos</h3>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>Aro 29"</td>
                                        <td>Freio disco hidráulico</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"></th>
                                        <td>Grupo Sram</td>
                                        <td>Pneu 3.0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>