<div class="container">
  <table class="table table-info text-start">
    <h1>Informações Pessoais</h1>
    <p>Nome: Info</p>
    <p>CPF: Info</p>
    <p>E-mail: Info</p>
    <p>Endereço: Info</p>
    <p>Cidade: Info</p>
    <p>CEP: Info</p>
    <p>Número de celular: Info</p>
</div>