<div class="container">
    <div class="title-h1">
        <h1>Atendentes Cadastrados</h1>
    </div>
    <div class="accordion" id="accordionHistoricoDetalhes">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingstaticBackdrop--alterar-bike--id--02">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Ane da Silva | (38)9999999
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="headingstaticBackdrop--alterar-bike--id--02"
                data-bs-parent="#accordionHistoricoDetalhes">
                <div class="accordion-body">
                    <div class="row">
                        <div class="row">
                            <div class="input-group mb-3 col">
                                <p>Nome:</p>
                            </div>
                            <div class="input-group mb-3 col">
                                <p>CPF:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col">
                                <p>E-mail:</p>
                            </div>
                            <div class="input-group mb-3 col">
                                <p>Endereço:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col">
                                <p>Cidade:</p>
                            </div>
                            <div class="input-group mb-3 col">
                                <p>CEP:</p>
                            </div>
                        </div>
                        <div class="row">
                            <p>Numero celular:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
