@model BikeVale.Models.Cliente
@using MySqlConnector;
@{
    ViewData["Title"] = "CadastroCliente";
    List<Cliente> listacliente = new List<Cliente>();
    var query = "SELECT * FROM cliente "
              + "join telefone on cliente.Id_tel = telefone.Id_tel "
              + "join endereco on cliente.Id_endereco = endereco.Id_endereco;";
    using (MySqlConnection connection = new MySqlConnection("server=localhost;userid=teste@;password=123456;database=bancotp"))
    {
        connection.Open();
        using (MySqlCommand command = new MySqlCommand(query, connection))
        using (MySqlDataReader reader = command.ExecuteReader())
        {
            while (reader.Read())
            {
                Cliente c1 = new Cliente(Convert.ToInt32(reader["Id_cliente"]), (reader["Nome"]).ToString(), (reader["Sobrenome"]).ToString(),
                                       (reader["Cpf"]).ToString(), (reader["Email"]).ToString(), (reader["Rua"]).ToString(),
                                       Convert.ToInt32(reader["Numero"]), (reader["Cidade"]).ToString(), (reader["cep"]).ToString(),
                                       Convert.ToInt32(reader["Telefone"]), Convert.ToInt32(reader["Id_tel"]), Convert.ToInt32(reader["Id_endereco"]), Convert.ToInt32(reader["DDD"]));
                listacliente.Add(c1);
            }
        }
    }
}
<div class="container">
    @{
        foreach (Cliente cliente in listacliente)
        {
            <h1>Atualizar Cadastro de Cliente</h1>
            <div class="row">
                <form asp-action="AtualizarCliente" class="col">
                    <div class="mb-3">
                        <label class="form-label" type="text" for="nome">Nome:</label>
                        <input class="form-control" type="text" id="nome" value=@cliente.Nome name ="nome">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="sobrenome">Sobrenome:</label>
                        <input class="form-control" type="text" id="sobrenome" value=@cliente.Sobrenome name ="sobrenome">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="cpf">CPF:</label>
                        <input class="form-control" type="text" id="cpf" value=@cliente.Cpf name ="cpf">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="email">E-mail:</label>
                        <input class="form-control" type="email" id="email" value=@cliente.Email name ="email">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="rua">Rua:</label>
                        <input class="form-control" type="text" id="rua" value=@cliente.Rua name ="rua">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="numero">Número:</label>
                        <input class="form-control" type="text" id="numero" value=@cliente.Numero name ="numero">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="cidade">Bairro:</label>
                        <input class="form-control" type="text" id="bairro" name="bairro">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="cidade">Cidade:</label>
                        <input class="form-control" type="text" id="cidade" value=@cliente.Cidade name ="cidade">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="cep">CEP:</label>
                        <input class="form-control" ype="text" id="cep" value=@cliente.Cep name ="cep">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="Ddd">DDD:</label>
                        <input class="form-control" type="text" id="Ddd" value=@cliente.Ddd name ="Ddd">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" type="text" for="telefone">Telefone:</label>
                        <input class="form-control" type="text" id="telefone" value=@cliente.Telefone name="telefone">
                    </div>

                    <div class="mb-3 text-end">
                        <input asp-action="AtualizarClientePost" type="submit" value="Salvar" class="btn btn-green btn-decorator" />
                    </div>

                    <div class="mb-3 invisivel">
                        <label class="form-label" type="text" for="idCliente">ID do Cliente:</label>
                        <input class="form-control" type="text" id="idCliente" value=@cliente.IdCliente name="idCliente">
                    </div>

                    <div class="mb-3 invisivel">
                        <label class="form-label" type="text" for="idEndereco">ID do Endereço:</label>
                        <input type="text" id="idEndereco" value=@cliente.IdEndereco name ="idEndereco">
                    </div>

                    <div class="mb-3 invisivel">
                        <label class="form-label" type="text" for="idTelefone">ID do Telefone:</label>
                        <input type="text" id="idTelefone" value=@cliente.IdTelefone name="idTelefone">
                    </div>
                </form>
            </div>
        }
    }

</div>