@{
    ViewData["Title"] = "Funcionario";
}

<div class="container">

  <h1>Informações Pessoais</h1>

  <div class="row">
        <form action="CadastroAtendente" class="col">
      <div class="mb-3">
        <label class="form-label" for="nome">Nome:</label>
        <input class="form-control" type="text" id="nome">
      </div>

      <div class="mb-3">
        <label class="form-label" for="CPF">CPF:</label>
        <input class="form-control" type="text" id="CPF">
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">E-mail:</label>
        <input class="form-control" type="text" id="email">
      </div>
      <div class="mb-3">
        <label class="form-label" for="Endereço">Endereço:</label>
        <input class="form-control" type="text" name="" id="Endereço">
      </div>
      <div class="mb-3">
        <label class="form-label" for="Cidade">Cidade:</label>
        <input class="form-control" type="text" name="" id="Cidade">
      </div>
      <div class="mb-3">
        <label class="form-label" for="CEP">CEP:</label>
        <input class="form-control" type="text" name="" id="CEP">
      </div>
      <div class="mb-3">
        <label class="form-label" for="numeroCel">Número de celular:</label>
        <input class="form-control" type="text" name="" id="numeroCel">
      </div>
      <button type="submit" class="btn btn-primary">Cadastro</button>
    </form>
    <div class="col"></div>
  </div>
</div>