
@{
    ViewData["Title"] = "Sobre";
}

<section class="container">
        <h1 class="title-about">Sobre a Bike Vale</h1>
        <div id="line"></div>
        <p>A Bike Vale é um site criado com fins didáticos para fixação dos conteúdos aprendidos na faculdade.
        </p>
        <p>O site foi desenvolvido por uma equipe de discentes do curso de Sistemas de Informação.</p>
        <video loop src="/images/img/HARRISON ORY SHREDS - White Ranch in Golden, Colorado.mp4" class="object-fit-cover video" autoplay></video>
</section>