<div class="padding"></div>
<div class="container">
    <div class="row title-h1">
        <h2>Cadastre-se</h2>
    </div>
    <div class="row">
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon1">#</span>
            <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon2">#</span>
            <input type="text" class="form-control" placeholder="CPF">
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon3">#</span>
            <input type="text" class="form-control" placeholder="E-mail">
        </div>
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon4">#</span>
            <input type="text" class="form-control" placeholder="Endereço">
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon6">#</span>
            <input type="text" class="form-control" placeholder="Cidade">
        </div>
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon7">#</span>
            <input type="text" class="form-control" placeholder="CEP">
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3 col">
            <span class="input-group-text" id="basic-addon8">#</span>
            <input type="text" class="form-control" placeholder="Numero celular">
        </div>
        <div class="col text-end">
            <button type="submit" class="btn btn-green btn-decorator">Cadastre-se</button>
        </div>
    </div>
</div>