<div class="container">
    <div class="title-h1">
        <h1 class="title-h1">DICAS E CUIDADOS</h1>
    </div>
    <ol class="list-group list-group-flush">
        <li>Idealmente, sua bicicleta deve ser colocada no chão com o lado oposto ao câmbio que não possui um
            componente
            funcional.</li>
        <li>A corrente deve estar sempre lubrificada com CERA Bruns ProBike, e deve ser usada frequentemente.</li>
        <li>Em descidas, lembre-se de que você está CAVALGANDO, não competindo.</li>
        <li>Seu guia garante que todas as bicicletas entregues estejam em perfeitas condições de funcionamento.</li>
        <li>Se você precisar de ajustes, avise-os com antecedência e eles saberão como proceder.</li>
        <li>Qualquer equipamento ou componentes quebrados ou danificados devem ser reparados ou substituídos pelo
            locatário.</li>
        <li>Um acidente também deve ser considerado um uso indevido do equipamento se o equipamento estiver
            danificado
            ou quebrado.</li>
        <li>Ao reservar uma bicicleta, fornecemos ferramentas, remendos e uma bomba, se solicitado.</li>
        <li>O locatário deve substituir um pneu ou câmara de ar que tenha sido furado ou rasgado.</li>
        <li>Procure seu motorista por perto para não perder.</li>
        <li>É obrigatório solicitar um modelo de pedal específico ao usar sapatos. Procure evitar trocar os pedais
            da
            bike se pretende usar tênis.</li>
        <li>É responsabilidade do Locatário garantir que as bicicletas entregues permaneçam intactas após a entrega.
        </li>
        <li>Qualquer dano às bicicletas, como furto ou furto, é de responsabilidade do Locatário. </li>
        <li>Os aluguéis podem ser responsabilizados por uso indevido ou negligência se forem manuseados ou
            conduzidos de forma descuidada.</li>
    </ol>
</div>